.radio,
.checkbox {
    position: relative;
    display: block;
}
.radio label,
.checkbox label {
    min-height: 18px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}
.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: not-allowed;
}

.checkbox label,
.radio label {
    display: block;
    padding-left: 30px;
    position: relative;
}
.checkbox,
.radio,
.checkbox-inline,
.radio-inline {
    padding-top: 0;
}
.checkbox input[type=checkbox],
.radio input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio-inline input[type=checkbox],
.checkbox input[type=radio],
.radio input[type=radio],
.checkbox-inline input[type=radio],
.radio-inline input[type=radio] {
    top: 0;
    left: 0;
    margin-left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 0;
}
.checkbox.disabled,
.radio.disabled,
.checkbox-inline.disabled,
.radio-inline.disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.checkbox .input-helper:before,
.radio .input-helper:before,
.checkbox-inline .input-helper:before,
.radio-inline .input-helper:before,
.checkbox .input-helper:after,
.radio .input-helper:after,
.checkbox-inline .input-helper:after,
.radio-inline .input-helper:after {
    position: absolute;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
}
.checkbox .input-helper:before,
.radio .input-helper:before,
.checkbox-inline .input-helper:before,
.radio-inline .input-helper:before {
    left: 0;
    border-width: 2px;
    border-style: solid;
}
.checkbox input,
.checkbox-inline input {
    width: 17px;
    height: 17px;
}
.checkbox input:checked + .input-helper:after,
.checkbox-inline input:checked + .input-helper:after {
    opacity: 1;
    filter: alpha(opacity=100);
}
.checkbox .input-helper:before,
.checkbox-inline .input-helper:before {
    top: 1px;
    width: 17px;
    height: 17px;
    border-radius: 2px;
}
.checkbox .input-helper:after,
.checkbox-inline .input-helper:after {
    opacity: 0;
    filter: alpha(opacity=0);
    content: '\f26b';
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    font-size: 12px;
    left: 3px;
    top: 1px;
    font-weight: bold;
}
.checkbox:not(.checkbox--dark) .input-helper:after,
.checkbox-inline:not(.checkbox--dark) .input-helper:after {
    color: #1e2a31;
}
.checkbox:not(.checkbox--dark) .input-helper:before,
.checkbox-inline:not(.checkbox--dark) .input-helper:before {
    border-color: rgba(177, 188, 192, 0.47);
}
.checkbox:not(.checkbox--dark) input:checked + .input-helper:before,
.checkbox-inline:not(.checkbox--dark) input:checked + .input-helper:before {
    background-color: #edeff0;
    border-color: #edeff0;
}
.checkbox--dark label {
    color: #4a606d;
}
.checkbox--dark .input-helper:after {
    color: #edeff0;
}
.checkbox--dark .input-helper:before {
    border-color: #3b4e5b;
}
.checkbox--dark input:checked + .input-helper:before {
    background-color: #3b4e5b;
}
.radio input,
.radio-inline input {
    width: 19px;
    height: 19px;
}
.radio input:checked + .input-helper:after,
.radio-inline input:checked + .input-helper:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.radio .input-helper:before,
.radio-inline .input-helper:before {
    top: -1px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
}
.radio .input-helper:after,
.radio-inline .input-helper:after {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 4px;
    left: 5px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.radio:not(.radio--dark) .input-helper:before,
.radio-inline:not(.radio--dark) .input-helper:before {
    border-color: rgba(177, 188, 192, 0.47);
}
.radio:not(.radio--dark) .input-helper:after,
.radio-inline:not(.radio--dark) .input-helper:after {
    background: rgba(177, 188, 192, 0.47);
}
.radio:not(.radio--dark) input:checked + .input-helper:before,
.radio-inline:not(.radio--dark) input:checked + .input-helper:before {
    border-color: #edeff0;
}
.radio:not(.radio--dark) input:checked + .input-helper:after,
.radio-inline:not(.radio--dark) input:checked + .input-helper:after {
    background: #edeff0;
}
.radio--dark .input-helper:before {
    border-color: #22313a;
}
.radio--dark .input-helper:after {
    background: #22313a;
}
.checkbox-inline,
.radio-inline {
    padding-left: 30px;
}
.input-centered .checkbox,
.input-centered .radio {
    display: inline-block;
}
.checkbox--char {
    margin: 0;
}
.checkbox--char label {
    padding-left: 50px;
}
.checkbox--char input[type=checkbox] {
    width: 36px;
    height: 36px;
    z-index: 3;
}
.checkbox--char input[type=checkbox]:checked + .checkbox__helper:after {
    opacity: 1;
    filter: alpha(opacity=100);
}
.checkbox--char input[type=checkbox]:checked + .checkbox__helper:before {
    opacity: 0;
    filter: alpha(opacity=0);
}
.checkbox--char:hover .checkbox__helper:before {
    opacity: 1;
    filter: alpha(opacity=100);
}
.checkbox__helper {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    left: 0;
    top: 0;
}
.checkbox__helper:before,
.checkbox__helper:after {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    font-family: 'Material-Design-Iconic-Font';
    font-size: 20px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #3e4b53;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.checkbox__helper:before {
    content: '\f279';
    z-index: 1;
    line-height: 37px;
    color: #b4bfc3;
}
.checkbox__helper:after {
    content: '\f26b';
    z-index: 2;
    line-height: 36px;
    color: #edeff0;
}
.checkbox__helper > i {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    top: 0;
    font-style: normal;
    text-align: center;
    line-height: 36px;
    font-size: 19px;
    font-weight: 500;
    color: #b4bfc3;
    background-color: #3e4b53;
}
/* Dropdown */
.dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 9;
    display: none;
    min-width: 170px;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #edeff0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 10px 0;
    border-radius: 3px;
    top: -1px;
    margin: 0;
    border: 0;
}

.dropdown-menu > li > a {
    display: block;
    font-weight: 400;
    color: #4a606d;
    padding: 10px 20px;
    text-decoration: none;
    clear: both;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #4a606d;
    background-color: rgba(0,0,0,.04);
}
.dropup .dropdown-menu {
    bottom: 0;
    margin-bottom: 0;
}
/* Tables */
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #22313a;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background-color: #19232a;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 15px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #30414a;
}
.table > thead > tr > th {
    border-bottom-width: 1px;
    border-bottom-color: #b4bfc3;
    color: #b4bfc3;
    font-weight: 500;
}
.table--vmiddle th,
.table--vmiddle td {
    vertical-align: middle;
}
@media (min-width: 768px) {
    .table-striped:not(.table-bordered) > thead > tr > th,
    .table-striped:not(.table-bordered) > tbody > tr > td {
        vertical-align: middle;
    }
}
/* Select 2 */
.select2-container--default .select2-selection--single {
    border-radius: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #31424b;
    padding-right: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 7px 7px;
    pointer-events: none;
    margin: 7px 0 0 3px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    color: rgba(177, 188, 192, 0.47);
}
.select2-container--default .select2-selection--single .select2-selection__clear:hover {
    color: #b4bfc3;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: rgba(177, 188, 192, 0.47);
}
.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent rgba(177, 188, 192, 0.47) transparent;
}
.select2-container--default .select2-search--dropdown {
    margin-top: -10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    position: relative;
    margin-bottom: 10px;
}
.select2-container--default .select2-search--dropdown:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f1c3';
    font-size: 20px;
    color: #4C4C4C;
    position: absolute;
    left: 18px;
    top: 9px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 0;
    background-color: transparent;
    height: 35px;
    color: #4C4C4C;
    padding: 5px 10px 5px 40px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(0, 0, 0, 0.04);
    color: #4a606d;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    position: relative;
    padding-right: 35px;
    background-color: rgba(0, 0, 0, 0.07);
    color: #1e2a31;
    font-weight: 500;
}
.select2-container--default .select2-results__option[aria-selected=true]:before {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f26b';
    position: absolute;
    top: 7px;
    right: 13px;
    font-size: 18px;
    color: #1e2a31;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 0;
}
.select2-container--default .select2-selection--multiple {
    background-color: transparent;
    border: 0;
    box-shadow: 0 1px 0 0 #31424b;
    border-radius: 0;
    padding-bottom: 1px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 2px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.09);
    padding: 5px 10px;
    color: #b4bfc3;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 8px;
    color: #b4bfc3;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #edeff0;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: transparent;
}
.select2-dropdown {
    background-color: #edeff0;
    border: 0;
    border-radius: 2px;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /*-webkit-animation-name: 'fadeIn';*/
    /*animation-name: 'fadeIn';*/
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.select2-dropdown.select2-dropdown--above {
    margin-bottom: -36px;
}
.select2-dropdown.select2-dropdown--below {
    margin-top: -2px;
}
.select2-results__option {
    padding: 10px 15px;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    font-size: 13px;
    color: #4C4C4C;
    cursor: pointer;
}
.select2-container--open .select2-dropdown--above,
.select2-container--open .select2-dropdown--below {
    border-radius: 2px;
}
.select2-container--open .select2-dropdown--below {
    min-width: 120px;
}
.select2-container .select2-selection--single {
    height: 35px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 7px;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.42857143;
    color: #b4bfc3;
}
.select2-container .select2-search--inline .select2-search__field {
    margin-top: 10px;
}
.select2-container .select2-search--inline .select2-search__field::-moz-placeholder {
    color: rgba(177, 188, 192, 0.47);
    opacity: 1;
}
.select2-container .select2-search--inline .select2-search__field:-ms-input-placeholder {
    color: rgba(177, 188, 192, 0.47);
}
.select2-container .select2-search--inline .select2-search__field::-webkit-input-placeholder {
    color: rgba(177, 188, 192, 0.47);
}
.select2-results__message {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #777777;
}
.form-group--light .select2-container--default .select2-selection--single {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.form-group--light .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
}
.form-group--light .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    font-weight: 500;
}
/* noUiSlider */
.noUi-target {
    border-radius: 0;
    box-shadow: none;
    border: 0;
    background: #22313a;
}
.noUi-horizontal {
    height: 2px;
}
.noUi-horizontal .noUi-handle {
    top: -6px;
    left: -1px;
}
.noUi-vertical {
    width: 3px;
}
.noUi-connect {
    background: #b4bfc3;
    box-shadow: none;
}
.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 100%;
    box-shadow: none;
    -webkit-transition: box-shadow;
    -o-transition: box-shadow;
    transition: box-shadow;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    cursor: pointer;
    position: relative;
    background-color: #edeff0;
}
.noUi-horizontal .noUi-handle:before,
.noUi-vertical .noUi-handle:before,
.noUi-horizontal .noUi-handle:after,
.noUi-vertical .noUi-handle:after {
    display: none;
}
.noUi-horizontal .noUi-active,
.noUi-vertical .noUi-active {
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.055);
}