.radio,
.checkbox {
    position: relative;
    display: block;
}
.radio label,
.checkbox label {
    min-height: 18px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}
.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
    cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: not-allowed;
}

.checkbox label,
.radio label {
    display: block;
    padding-left: 30px;
    position: relative;
}
.checkbox,
.radio,
.checkbox-inline,
.radio-inline {
    padding-top: 0;
}
.checkbox input[type=checkbox],
.radio input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio-inline input[type=checkbox],
.checkbox input[type=radio],
.radio input[type=radio],
.checkbox-inline input[type=radio],
.radio-inline input[type=radio] {
    top: 0;
    left: 0;
    margin-left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 0;
}
.checkbox.disabled,
.radio.disabled,
.checkbox-inline.disabled,
.radio-inline.disabled {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.checkbox .input-helper:before,
.radio .input-helper:before,
.checkbox-inline .input-helper:before,
.radio-inline .input-helper:before,
.checkbox .input-helper:after,
.radio .input-helper:after,
.checkbox-inline .input-helper:after,
.radio-inline .input-helper:after {
    position: absolute;
    content: "";
    transition: all;
    transition-duration: 150ms;
}
.checkbox .input-helper:before,
.radio .input-helper:before,
.checkbox-inline .input-helper:before,
.radio-inline .input-helper:before {
    left: 0;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 2px 2px 0 var(--compShadow1), 0 0 0 1px var(--compShadow2);
}
.checkbox input,
.checkbox-inline input {
    width: 17px;
    height: 17px;
}
.checkbox input:checked + .input-helper:after,
.checkbox-inline input:checked + .input-helper:after {
    opacity: 1;
    filter: alpha(opacity=100);
}
.checkbox .input-helper:before,
.checkbox-inline .input-helper:before {
    top: 1px;
    width: 17px;
    height: 17px;
    border-radius: 2px;
}
.checkbox .input-helper:after,
.checkbox-inline .input-helper:after {
    opacity: 0;
    filter: alpha(opacity=0);
    content: '\f26b';
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    font-size: 12px;
    left: 3px;
    top: 1px;
    font-weight: bold;
    color: var(--bodyBg);
}
.checkbox .input-helper:before,
.checkbox-inline .input-helper:before {
    border-color: var(--chkUnchecked);
}
.checkbox input:checked + .input-helper:before,
.checkbox-inline input:checked + .input-helper:before {
    background-color: var(--chkChecked);
    border-color: var(--chkChecked);
}
.radio input,
.radio-inline input {
    width: 19px;
    height: 19px;
}
.radio input:checked + .input-helper:after,
.radio-inline input:checked + .input-helper:after {
    transform: scale(1);
    background: var(--chkChecked);
}
.radio .input-helper:before,
.radio-inline .input-helper:before {
    top: -1px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border-color: var(--chkUnchecked);
}
.radio .input-helper:after,
.radio-inline .input-helper:after {
    background: var(--chkUnchecked);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    top: 4px;
    left: 5px;
    transform: scale(0);
}
.radio input:checked + .input-helper:before,
.radio-inline input:checked + .input-helper:before {
    border-color: var(--chkChecked);
}
.checkbox-inline,
.radio-inline {
    padding-left: 30px;
}
/* Dropdown */
.dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 9;
    display: none;
    min-width: 180px;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: var(--mnuBg);
    box-shadow: 0 6px 12px var(--mnuGlow);
    background-clip: padding-box;
    padding: 10px 0;
    border-radius: 3px;
    top: -1px;
    margin: 0;
    border: 0;
}

.dropdown-menu > li > a {
    display: block;
    font-weight: 400;
    color: var(--mnuTxt);
    padding: 10px 20px;
    text-decoration: none;
    clear: both;
    transition: background-color;
    transition-duration: 300ms;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: var(--mnuTxt);
    background-color: var(--mnuItemHover);
}
.dropup .dropdown-menu {
    bottom: 0;
    margin-bottom: 0;
}
/* Tables */
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: var(--tblActiveRow);
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
    transition: all;
    transition-duration: .3s;
    background-color: var(--tblActiveRowHover);
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 15px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid var(--tblCellBorder);
}
.table > thead > tr > th {
    border-bottom-width: 1px;
    border-bottom-color: var(--tblHeadBottomBorder);
    color: var(--bodyTxt);
    font-weight: 500;
}
.table--vmiddle th,
.table--vmiddle td {
    vertical-align: middle;
}
@media (min-width: 768px) {
    .table-striped:not(.table-bordered) > thead > tr > th,
    .table-striped:not(.table-bordered) > tbody > tr > td {
        vertical-align: middle;
    }
}