/* Theme color variables
                       -------------------------*/
                       :root{
                           --bodyTxt : #b4bfc3;
                           --bodyBg : #1e2a31;
                           --compclr : #2b3942;
                           --compShadow1 : rgba(0,0,0,0.16);
                           --compShadow2 : rgba(0,0,0,0.08);
                           --txtFocusBg : #edeff0;
                           --txtFocustxt : #22313a;
                           --txtFocusPH : #354c5a;
                           --btnTxtClr : #b4bfc3;
                           --btnTxtHover : #fff;
                           --btnBgHover : #138496;
                           --btnFocusGlow : rgba(23, 162, 184, 0.5);
                           --btnActive : #117a8b;
                           --btnTxtDisable : #b4bfc3;
                           --btnBgDisable : #4e4e4e;
                           --btnBorderDisable : #17a2b8;
                           --chkChecked : #edeff0;
                           --chkUnchecked : rgba(177, 188, 192, 0.47);
                           --tblHeadBottomBorder : #b4bfc3;
                           --tblHeadHover: rgba(255, 255, 255, 0.01);
                           --tblCellBorder : #30414a;
                           --tblActiveRow : #22313a;
                           --tblActiveRowHover: #19232a;
                           --scrollBg : #24303a;
                           --scrollBorder : #252525;
                           --scrollThumb : #35464c;
                           --mnuBtnBg: rgba(0, 0, 0, 0);
                           --mnuBg: #edeff0;
                           --mnuTxt: #4a606d;
                           --mnuItemHover: rgba(0,0,0,.04);
                           --mnuGrade1: rgba(255,0,0,0);
                           --mnuGrade2: rgb(43, 57, 66);
                           --mnuGlow: rgba(0,0,0,.175);
                           --modalGlow: rgba(0,0,0,.5);
                           --overlay: rgba(0,0,0,0.6);
                           --olTxt: #b4bfc3;
                       }