/* Global
--------------*/
body {
    display: grid;
    grid-template-rows: 30px 30px minmax(0px, auto) 40px;
    height: 100vh;
    /*font-family: Roboto,sans-serif;*/
    font-size: 13px;
    line-height: 1.42857143;
    color: var(--txtclr);
    background-color: var(--bodyBack);
    -webkit-user-select: none;
}
/* Table */
table {
    cursor: default;
    /*transform: rotateX(0deg);*/
}
thead > tr > th:hover {
    background: var(--thHover);
}
thead {
    background: var(--compclr);
}
th[data-role=columnheader] {
    cursor: pointer;
}

th[data-role=columnheader]:after {
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: 18px;
    content: '\f1cd';
    float: right;
    visibility: hidden;
    opacity: 0;
}
th[data-sort=desc]:after {
    content: '\f1ce';
}
th[data-sort=asc]:after {
    content: '\f1cd';
}
th[data-sort]:after {
    visibility: visible;
    opacity: 0.4;
}
th[data-role=columnheader]:hover:after {
    visibility: visible;
    opacity: 1;
}
#tblHead{
    margin-bottom: 0;
}
#tblMain > thead > tr > th {
    border-bottom: none;
}
#tblMain thead{
    visibility: hidden;
}
.sticky-top{
    z-index: 1;
}

span, strong {
    cursor: default;
}

/* Grid Layout
--------------------*/
.item-v-center{
    display: flex;
    align-items: center;
    flex: 1;
}
/* Title bar */
.grid-title {
    display: grid;
    grid-template-columns: 80px auto repeat(3, 48px);
    grid-template-rows: 30px;
    grid-template-areas:
            "appTitle glue-title btnMin btnMax btnExit";
    background-color: var(--compclr);
    -webkit-app-region: drag;
}
.app-icon {
    margin-left: 10px;
}
.app-title {
    margin-left: 10px;
    margin-top: 5px;
}
.btn-ctl {
    border: 0;
    height: 100%;
    width: 100%;
    background-color: var(--compclr);
    color: var(--txtclr);
    -webkit-app-region: no-drag;
}
.btn-ctl i {
    font-size: 17px;
    /*font-weight: bold;*/
}
.btn-ctl:focus {
    border: 1px;
    outline-style: none;
    box-shadow: none;
}
/* Menu bar */
.grid-menu {
    display: grid;
    grid-template-columns: 60px 70px 60px;
    padding-top: 3px;
    padding-left: 10px;
    background: linear-gradient(to top, var(--mnuGrade1), var(--mnuGrade2));
    /*-webkit-app-region: drag;*/
}
.mnu-itm {
    border: 0;
    height: 30px;
    width: 100%;
    border-radius: 3px;
    background-color: var(--mnuBg);
    color: var(--txtclr);
    -webkit-app-region: no-drag;
}
.mnu-itm:focus, .mnu-itm:active {
    outline-style: none;
    box-shadow: none;
}
.mnu-itm:active {
    background: var(--bodyBack);
}
.mnu-itm[aria-expanded="true"] {
    background: linear-gradient(to bottom, var(--mnuGrade1), var(--mnuGrade2));
}
.mnu-ico {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
    padding-right: 10px;
}
.mnu-txt {
    vertical-align: middle;
    cursor: pointer;
}
/* Body */
.grid-body {
    display: grid;
    grid-template-columns: auto 180px;
    grid-template-rows: 49px 47px 65px 55px 55px 55px 144px auto 163px;
    grid-template-areas:
            "txtSearch btnSearch"
            "searchTools ."
            "tbl btnOpenMag"
            "tbl btnCopyMag"
            "tbl btnHash"
            "tbl btnGoogle"
            "tbl seedPanel"
            "tbl glue-1"
            "tbl TTLogo";
    grid-column-gap: 20px;
    /*height: 1fr;*/
    padding: 23px;
    padding-top: 5px;
}

.txtSearch {
    grid-area: txtSearch;
}
.btnSearch {
    grid-area: btnSearch;
}
.grid-search-tools {
    grid-area: searchTools;
    display: grid;
    grid-template-columns: 130px 95px 80px minmax(auto, 125px) 60px auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.tbl-grid {
    grid-area: tbl;
    overflow-y: auto;
    margin-top: 20px;
    border-radius: 4px;
    background: var(--compclr);
}
.btnOpenMag {
    grid-area: btnOpenMag;
    margin-top: 20px;
}
.btnCopyMag {
    grid-area: btnCopyMag;
    margin-top: 10px;
}
.btnHash {
    grid-area: btnHash;
    margin-top: 10px;
}
.btnGoogle {
    grid-area: btnGoogle;
    margin-top: 10px;
}
.seedPanel {
    grid-area: seedPanel;
    margin-top: 30px;
    visibility: hidden;
}
.glue-1 {
    grid-area: glue-1;
}
.ttLogo {
    grid-area: TTLogo;
}

/* Status bar */
.grid-stat-bar {
    display: grid;
    grid-template-columns: auto auto;
    border-top: 1px solid var(--compclr);
    margin: 0 12px;
}
#txtStat {
    margin: 10px 0 10px 10px;
}
#txtStatRight {
    visibility: hidden;
    width: 100%;
    text-align: right;
    margin: 10px 10px 10px 0;
}

/* About Modal */
.abt-modal-content {
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 30px;
    padding-top: 0;
}
.abt-title {
    margin-bottom: 15px;
    text-align: center;
}
.abt-title span {
    font-size: 25px;
    font-weight: bold;
}
.social-btns {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.social-btns img {
    margin: 0 10px;
    cursor: pointer;
}
.social-btns img:hover {
    -webkit-transition: transform 0.3s ease;
    transform: scale(1.1);
}

/* Trackers Modal */
.mdl-trackers {
    height: 500px;
}
.trackers-modal-content {
    display: grid;
    grid-template-columns: auto 120px;
    grid-template-rows: 55px 55px minmax(0px, auto);
    grid-template-areas:
            "tbl btnCopyTrck"
            "tbl btnCopyAllTrck"
            "tbl .";
    grid-column-gap: 20px;
    padding: 20px 10px 10px;
}
.trackers-tbl {
    grid-area: tbl;
    overflow-y: auto;
    border-radius: 4px;
    background: var(--compclr);
}
.btnCopyTrck {
    grid-area: btnCopyTrck;
}
.btnCopyAllTrck {
    grid-area: btnCopyAllTrck;
}
#tblTrackers td{
    padding: 10px;
}

/* Preferences Modal */
.mdl-prefs {
    height: 500px;
}
.prefs-modal-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 55px;
    grid-row-gap: 20px;
    padding: 20px 10px 10px;
}
.prefs-opts {
    overflow-y: auto;
}
.prefs-section{
    margin: 40px 0;
}
.prefs-itm {
    margin-top: 20px;
}
.prefs-span-txt {
    display: grid;
    grid-template-columns: 90px auto;
    margin-right: 10px;
}
.prefs-upd-int {
    display: grid;
    grid-template-columns: 177px 60px 50px;
    grid-column-gap: 5px;
}
.prefs-btns {
    display: grid;
    grid-template-columns: auto 120px 120px;
    grid-column-gap: 10px;
}

/* Themes Modal */
.mdl-themes {
    height: 500px;
}
.themes-modal-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 55px;
    grid-row-gap: 20px;
    padding: 20px 10px 10px;
}
.themes-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px 10px 10px;
    overflow-y: auto;
}
.theme-prev-bg {
    background: #2f6931;
    height: 130px;
    width: 200px;
    margin: 0 auto;
    border-radius: 7px;
    border: solid 1px var(--txtclr);
    text-align: center;
    justify-content: center;
}
.theme-prev-content {
    text-align: center;
}
.btn-theme-apply {
    margin: 15px 0;
    width: 120px !important;
    display: block !important;
    box-shadow: 0 0 14px 1px var(--btnFocusGlow);
}
.btn-theme-del {
    width: 30px !important;
    height: 30px !important;
    box-shadow: none !important;
}
.btn-theme-del > i {
    padding: 0 !important;
    margin-top: -13px !important;
    font-size: 16px;
}
.themes-btns {
    display: grid;
    grid-template-columns: auto 120px 120px;
    grid-column-gap: 10px;
}

/* Overlay */
#overlay {
    display: grid;
    grid-template-rows: 33% 180px 70px auto;
    text-align: center;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay);
    z-index: 1002;
    cursor: wait;
    transition: all .2s ease;
}

#olText{
    font-size: 40px;
}

/* Global Elements
--------------------*/
/*Button*/
.btn-ui {
    border: 0;
    height: 45px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--compclr);
    font-size: 15px;
    color: var(--txtclr);
}
.btn-ico {
    font-size: 20px;
    vertical-align: middle;
    padding-right: 5px;
}
.btn-themed:hover {
    color: var(--btnTxtHover);
    background-color: var(--btnBgHover);
    border-color: var(--btnBorderHover);
}
.btn-themed:focus, .btn-themed.focus {
    box-shadow: 0 0 0 0.2rem var(--btnFocusGlow);
}
.btn-themed.disabled, .btn-themed:disabled {
    color: var(--txtclr);
    background-color: var(--btnBgDisable);
    border-color: var(--btnBorderDisable);
}
.btn-themed:not(:disabled):not(.disabled):active, .btn-themed:not(:disabled):not(.disabled).active,
.show > .btn-themed.dropdown-toggle {
    color: var(--btnTxtHover);
    background-color: var(--btnBorderHover);
}
.btn-themed:not(:disabled):not(.disabled):active:focus, .btn-themed:not(:disabled):not(.disabled).active:focus,
.show > .btn-themed.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--btnFocusGlow);
}

/*Text box*/
.txtbox {
    border: 0;
    height: inherit;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    width: 100%;
    background-color: var(--compclr);
    font-size: 15px;
    color: var(--txtclr);
}
.txtbox:focus {
    background: var(--compFocusBg);
    color: var(--txtFocustxt);
}
.txtbox::-webkit-input-placeholder {
    color: var(--txtclr)
}
.txtbox:focus::-webkit-input-placeholder {
    color: var(--txtFocustxt)
}
.txtboxsm {
    height: 32px;
}
.txtinvalid, .txtinvalid:focus{
    color: red;
}
/*Modal*/
.modal {
    text-align: center;
}
.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}
.modal-close {
    display: flex;
    justify-content: flex-end;
}
.mdl-ctl {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none;
}
.modal-dialog {
    display: inline-block;
    min-width: 600px;
    text-align: left;
    vertical-align: middle;
}
.modal-body {
    display: grid;
    padding: 10px;
}
.modal-window {
    height: 100%;
    grid-template-rows: 30px minmax(0px, auto);
}
.modal-content {
    background: var(--bodyBack);
    box-shadow: 0 3px 15px var(--modalGlow);
}
.modal-titlebar {
    display: grid;
    grid-template-columns: auto 30px;
    grid-template-rows: 30px;
    border-bottom: var(--compclr) 1px solid;
    min-height: 35px;
    cursor: -webkit-grab;
    -webkit-app-region: no-drag;
}
.modal-titlebar:active, .modal-titlebar-txt span:active{
    cursor: -webkit-grabbing;
}
.modal-titlebar-txt {
    display: flex;
    align-items: center;
}
.mdl-ico {
    vertical-align: middle;
    font-size: 18px;
    padding-left: 5px;
}
.modal-titlebar-txt span{
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    cursor: -webkit-grab;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(../img/ui-icons_444444_256x240.png);
}
.ui-icon-gripsmall-diagonal-se {
    background-position: -80px -224px;
}
.ui-resizable-se {
    width: 16px;
    height: 16px;
}
/* Scrollbars */
*::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    background: var(--scrollBg) !important;
    border: 1px solid var(--scrollBorder) !important;
}
*::-webkit-scrollbar-button {
    display: none !important;
}
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
    border: 0 !important;
    box-shadow: none !important;
}
*::-webkit-scrollbar-thumb {
    min-height: 28px !important;
    background: var(--scrollThumb) !important;
}
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
    background: var(--scrollBg) !important;
}
/* Tooltip */
.tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: var(--compFocusBg);
    color: var(--mnuTxt);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity .6s;
    bottom: 165%;
    left: 50%;
    margin-left: -60px;
}
.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: var(--compFocusBg);
}
.show-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*------END GLOBAL------*/

/* Search Input
--------------------*/
.top-search, .top-search__input,
.top-search__reset:after,
.top-search__reset:before,
.btn-ui, .txtbox,
.table-hover tbody tr:hover,
thead > tr > th:hover,
.btn-ctl,
.mnu-itm{
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.top-search {
    position: relative;
    margin: 2px 0;
    overflow: hidden;
    /*display: inline;*/
}

.top-search__input {
    border: 0;
    height: 45px;
    padding: 10px 20px 10px 50px;
    border-radius: 4px;
    width: 100%;
    background-color: var(--compclr);
    font-size: 15px;
    color: var(--txtFocustxt)
}

.top-search__input::-webkit-input-placeholder {
    color: var(--txtclr)
}

.top-search--focused .top-search__input {
    background-color: var(--compFocusBg)
}

.top-search--focused .top-search__input + .top-search__reset {
    color: var(--compFocusBg)
}

.top-search--focused .top-search__input + .top-search__reset:before {
    -webkit-transform: scale(0) rotate(180deg);
    -ms-transform: scale(0) rotate(180deg);
    -o-transform: scale(0) rotate(180deg);
    transform: scale(0) rotate(180deg)
}

.top-search--focused .top-search__input + .top-search__reset:after {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0)
}

.top-search--focused .top-search__input::-webkit-input-placeholder {
    color: var(--txtFocusPH)
}


.top-search__reset {
    left: 0;
    font-size: 20px;
    color: var(--txtclr);
    top: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 100%
}

.top-search__reset:hover {
    opacity: .75;
    filter: alpha(opacity=75)
}

.top-search__reset:after, .top-search__reset:before {
    position: absolute;
    left: 20px;
    top: 15px
}

.top-search__reset:after {
    content: '\f2ff';
    -webkit-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
    color: var(--txtFocustxt)
}

/* Seeds
--------------------*/
.seeds {
    margin-top: 20px;
}
.seeds i {
    display:inline-block;
    font-size: 30px;
}
.seeds span{
    display:inline-block;
    vertical-align:middle;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}
.seeds img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 25px;
}

/* TechTac Logo
--------------------*/
.img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.tt-img{
    height: 130px;
    text-align: center;
}
.tt-img img{
    width: 127px;
    vertical-align:middle;
    /*horiz-align: center;*/
}
.tt-img img:hover {
    -webkit-transition: transform 0.3s ease;
    transform: scale(1.04);
    cursor: pointer;
}